body {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

#left-crocodile {
    transform: rotateY(180deg);
}

.informational-text {
    font-size: larger ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    font-family: Gill Sans, sans-serif;
}