body {
  font-family: Gill Sans, sans-serif;
  background-color: salmon;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.zoo-map {
  padding-top: 20px;
}

h1 {
  font-weight: bold;
}