body {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#pygmy-elephant-map {
    width: 90%;
}