body {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.pygmy-elephant-map {
    width: 90%;
}

.caption {
    font-size: small;
    margin-bottom: 0%;
}

.navbar {
    font-family: Gill Sans, sans-serif;
}