body {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
}

.item img {
    width: 100%;
}

#myCarousel {
    width: 70%;
    margin: auto;
    /* margin-bottom: 3%; */
}

#carrot-icon {
    width: 2%; 
    vertical-align:top;
}

.classification-heading {
    font-weight: bold;
}
.classification-text {
    font-style: italic;
}
#rabbit-classification-table {
    width: 70%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}
#rabbit-classification-table th {
    font-weight: normal;
    text-align: center;
    padding: 5px;
}

#rabbits-booping-noses-img {
    width: 70%;
}

#col-rabbit-classification {
    margin-top: 11%;
    /* border: solid; */
}
#col-rabbit-fun-fact {
    margin-top: 4%;
    /* border: solid; */
}
/* #col-featured-rabbit {
    border: solid;
} */

.featured-rabbit-info {
    width: 60%;
    margin: auto;
    /* border-style: groove;
    border-width: 0.5px;
    border-color: lightgray; */
}