body {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 20px;
}

.navbar {
    font-family: Gill Sans, sans-serif;
}

.item img {
    width: 100%;
}
#myCarousel {
    width: 70%;
    margin: auto;
}

.carrot-icon {
    width: 2%; 
    vertical-align:top;
}

.classification-heading {
    font-weight: bold;
}
.classification-text {
    font-style: italic;
}
.rabbit-classification-table {
    width: 70%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}
.rabbit-classification-table th {
    font-weight: normal;
    text-align: center;
    padding: 5px;
}

.rabbits-booping-noses-img {
    width: 70%;
}

.featured-rabbit-info {
    width: 60%;
    margin: auto;
}

.informational-text {
    font-size: larger;
}