body {
    text-align: center;
    font-family: fantasy;
    
}

div.gallery {
    border: 1px solid #cccccc;
    width: 33%;
    display: inline-block;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}